.main{
    min-height: calc(100vh - 64px - 331px);
}
.banner-bkg{
    height: 30em;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}
.scrolled{
    background:black;
}
.row-footer{
    margin-top: 0px !important;
}
.banner{
    width: 100%;
    height: 40vh !important;
}

.banner-text{
    padding-top: 5em !important;
}


.color-bg{
    color: white;
}
  
.custom-container{
    width: 90%;
    margin: auto;
    /* background-position:; */
}
.store-body{
    margin: 5em auto !important;
}
.store-box{
    text-align: center;
    /* text-decoration: none !important; */
}
.card-img-top{
    width: 100%;
    height: 30vh !important;
}
.icon-box-banner:hover{
    background: grey !important;
    color: white !important;
}
.text-on-card-text{
    font-size: 0.9em;
}
.premium-download-text{
    font-size: 1.5em;
}
.text-on-card-top{
    font-size: 1.0em;
}
.icons-top{
    margin:5em auto;
    float: right;
}
.icon-box-banner{
    background: white;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 1em;
}
.store-box:hover{
    background: #343a40!important;
    color:white !important;
}
.store-link:hover{
    background: black !important;
    color:white !important;
    text-decoration: none !important;
}

.footer{
    background: black !important;
}

.premium-imgs{
    width: 20% !important;
}

.icons{
    margin: 1px;
    font-size: 25px;
}
.icon-container{
    margin: 10px;
    width: 20vh;
    height: 20vh;
    border-radius: 20vh;
}